input {
  background-color: #465358 ;
  border-color: #1E2B30 ;
}
input:focus, textarea:focus, select:focus{
  outline: none ;
}

#header_logo, #site_menu {
  display: none ;
}

#line {
  border-color: #263338 ;
}
.forum_header_border {
  background-image: none ;
}

.forum_header_border td {
  border-color: #1e2b30 ;
  padding: 1px 4px ;
}

.forum_header_border tr {
  background-color: #263338 ;
}

.forum_header_border tr:hover {
  background-color: #205561 ;
}

.forum_header_border, table, tr, td {
  border-color: #1e2b30 ;
}

.forum_header_border_normal {
  display: none ;
}

.forum_thread_header {
  border: none ;
}

.forum_thread_header, .forum_thread_header_end, .section_post_header, td.header_date, #site_menu {
  background-color: #364348 ;
  background-image: none ;
}

.forum_thread_post_end {
  color: #788e95 ;
}

.forum_thread_post_end:hover a, a.thread_link:hover {
  color: #66cbff ;
}

.magnet, .download_1, .download_2, .download_3, .download_4, .download_5 {
  background-color: #70a5b1 ;
  border-radius: 3px ;
}

.section_create, .section_header_column, .forum_header {
  background-color: #263338 ;
}

a.epinfo {
  border-width: 0 ;
}

a.thread_link, a {
  color: #268bd2 ;
}

body {
  background-color: #1e2b30 ;
  color: #586e75 ;
}

body * {
  font-family: Monaco ;
}

td.forum_thread_post {
  border-width: 0 ;
  color: #788e95 ;
}

td.forum_thread_post a {
  color: #afbfce ;
}

td.forum_thread_post:hover a {
  color: #fff ;
  text-decoration: none ;
}

/* recent updates */
.select2-container--default .select2-selection--single, .select2-dropdown {
  background-color: #364348 ;
  color: #93A0A1 ;
  border-color: #1E2B30 ;
  box-shadow: 0 0 5px rgba(0,0,0,0.25) ;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #465358 ;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #93A0A1 ;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #1E2B30 ;
}
