:root {
  color-scheme: dark;
  --bold-border: #0e1b20;
  --border: #465358;
  --black: #263338;
  --bold-black: #1e2b30;
  --black-cyan: #264348;
  --blue: #268ad2;
  --light-blue: #46aaf2;
  --dark-blue: #293e47;
  --bold-blue: #839495;
  --cyan: #2aa197;
  --bold-cyan: #93a0a1;
  --gray-dark: #263338;
  --gray: #465358;
  --green: #859901;
  --bold-green: #586d74;
  --bold-magenta: #8c8ee6;
  --indigo: #6c6ec6;
  --magenta: #d33582;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --purple: #8c8ee6;
  --light-purple: #caccef;
  --red: #dc312e;
  --red-pink: #dc3545;
  --bold-red: #cb4a16;
  --teal: #20c997;
  --white: #eee8d5;
  --bold-white: #fdf6e3;
  --bold-yellow: #657b82;
  --yellow: #b58900;
  --primary: #268ad2;
  --secondary: #93a0a1;
  --success: #859901;
  --info: #2aa197;
  --warning: #b58900;
  --danger: #dc312e;
  --dark: #1e2b30;
  --darker: #0e1b20;
  --light: #eaecef;
}

html, body, header, footer, .header, .footer, #footer, #header {
  background-color: var(--bold-black);
  color: var(--bold-cyan);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--bold-cyan);
}

body, hr, .panel, p code, .sectiontitle {
  border-color: var(--border);
}

.panel, .panel .tree {
  background-color: var(--bold-black);
}

.description pre, p code {
  background-color: var(--black);
}
pre .string, pre .tag .value, pre .phpdoc, pre .tex .formula, #bodyContent a:link, #bodyContent a:active, #bodyContent a:visited, #bodyContent a:hover {
  color: var(--red);
}

.panel .tree li.level_0 {
  background-color: var(--bold-black);
}

.panel .tree li.level_1 {
  background-color: var(--black);
}
.panel .tree li:hover {
  background-color: var(--bold-border);
}
.ruby-identifier {
  color: var(--blue)
}
.ruby-value {
  color: var(--cyan)
}
pre .symbol, pre .ruby .symbol .string, pre .ruby .symbol .keyword, pre .ruby .symbol .keymethods, pre .lisp .keyword, pre .tex .special, pre .input_number {
  color: var(--red);
}

pre .keyword, pre .css .rule .keyword, pre .winutils, pre .javascript .title, pre .lisp .title, pre .subst {
  color: var(--cyan)
}
.ruby-operator {
  color: var(--white)
}
pre .class, pre .constant {
  color: var(--yellow)
}
pre .comment, pre .template_comment, pre .diff .header, pre .javadoc {
  color: #465358;
}

.ruby-constant {
  color: var(--cyan)
}
