._1ht5 {
    background-color: #28353a;
}

._1ht5:hover {
    background-color: #3c3e56;
}

._1ht6 {
    color: white;
}

._1htf, .timestamp, ._36zg, ._1n-e, ._4ik4._4ik5, ._3oh-, ._2v6o, ._1tqi, ._3eus, ._1lj0, ._3szq {
    color: #586e75;
}

._1t_p path {
    fill: #6c6ec6;
    stroke: none;
}

._41ud ._hh7 {
    background-color: Wrgba(38, 139, 210, 0.8);
    border-radius: 10px;
    /* background-color: #268bd2; */
    padding: 2px 6px;
}

._41ud ._hh7 * {
    color: #1e2b30;
    /*  background-color: #364348;
    color: #a2b8ba; */
}

._4sp8 {
    background-color: #1e2b30;
    /* background-color: #e9ebee; */
}

._5l-3._1ht1._1ht2._23_m ._1htf, ._1ht2._23_m .timestamp {
    color: #8c8ed6;
}

._5l-3._1ht1._1ht2._23_m a {
    background-color: #4c4e76;
}

._nd_ ._hh7 {
    /* background-color: Wrgba(133, 153, 1, 0.8); */
    /* background-color: #859901; */
}

._o46._3erg._29_7.direction_ltr.text_align_ltr ._hh7 {
    background-color: rgba(38, 139, 210, 0.8);
}

._o46._3erg:hover {
    background-color: #28353a;
}

.uiScrollableAreaBody circle {
    stroke: #6c6ec6;
}

.uiScrollableAreaBody path, ._673w path {
    fill: #6c6ec6;
    stroke: #6c6ec6;
}

div._li, ._5vb_, ._5vb_ #contentCol {
    background-color: #d9dbde;
}

path {
    fill: #6c6ec6;
}

