:root {
  color-scheme: dark;
  --bold-border: #0e1b20;
  --border: #465358;
  --black: #263338;
  --bold-black: #1e2b30;
  --black-cyan: #264348;
  --blue: #268ad2;
  --light-blue: #46aaf2;
  --dark-blue: #293e47;
  --bold-blue: #839495;
  --cyan: #2aa197;
  --bold-cyan: #93a0a1;
  --gray-dark: #263338;
  --gray: #465358;
  --green: #859901;
  --bold-green: #586d74;
  --bold-magenta: #8c8ee6;
  --indigo: #6c6ec6;
  --magenta: #d33582;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --purple: #8c8ee6;
  --light-purple: #caccef;
  --red: #dc312e;
  --red-pink: #dc3545;
  --bold-red: #cb4a16;
  --teal: #20c997;
  --white: #eee8d5;
  --bold-white: #fdf6e3;
  --bold-yellow: #657b82;
  --yellow: #b58900;
  --primary: #268ad2;
  --secondary: #93a0a1;
  --success: #859901;
  --info: #2aa197;
  --warning: #b58900;
  --danger: #dc312e;
  --dark: #1e2b30;
  --darker: #0e1b20;
  --light: #eaecef;
}

[data-color-mode="dark"][data-dark-theme="dark_dimmed"],
[data-color-mode="dark"][data-dark-theme="dark_dimmed"] ::backdrop,
[data-color-mode="auto"][data-light-theme="dark_dimmed"],
[data-color-mode="auto"][data-light-theme="dark_dimmed"] ::backdrop {
  --overlay-bgColor: var(--black);
  --headerSearch-borderColor: var(--black);
  --controlTrack-bgColor-rest: var(--black);
  --control-bgColor-rest: var(--black);
  --contribution-default-bgColor-0: var(--black);
  --button-inactive-bgColor: var(--black);
  --avatarStack-fade-bgColor-muted: var(--black);
  --bgColor-disabled: var(--black);
  --bgColor-muted: var(--black);

  --bgColor-default: var(--bold-black);
  --sideNav-bgColor-selected: var(--bold-black);

  --bgColor-inset: var(--darker);
  --bgColor-emphasis: var(--border);
  --borderColor-default: var(--border);
  --control-borderColor-rest: var(--border);
  --color-prettylights-syntax-sublimelinter-gutter-mark: var(--border);
  --control-bgColor-active: var(--border);;
  --border-default: 0.0625rem solid var(--border);

  --fgColor-accent: var(--light-blue);
}
