.gb_Za.gb_Xa {
    height: 45px;
}

.NQ,
.gU.OoRYyc
.l3:hover,
.nu:hover,
.t-i-ax7:hover {
    color: #fff;
}

.Ar,
.L3:hover,
.T-I-ax7:hover,
.Uz,
.a8X.gU .wG,
.dI,
.nr,
.nu:hover,
.oc.gU .wG {
    background-color: #306571;
    border-color: #306571;
}

.L3,
.NQ
.T-I-ax7,
.nu,
.yO:hover,
.zE:hover {
    background-color: #205561;
}


.L3,
.Lo .vo>button,
.NQ,
.T-I-ax7,
.Yo .z-b-G,
.l3:hover,
.nu,
.nu:hover,
.t-i-ax7:hover,
.vr .z-b-G {
    background-image: none;
}

.yO {
  background-color: #103843;
}

.Lo .vo>button,
.Yo .z-b-G,
.vr .z-b-G,
.zE {
    background-color: #104551;
}

.Am.aO9.Al.editable.LW-avf,
.aC2,
.aC3,
.aO7,
.azX,
.hx .h7 .Bk .G2,
.hx .kv .Bk .G2,
.hx .ky .Bk .G2,
.vO,
td.Bu {
    background-color: inherit;
}


.J-KU-Jg.J-KU-Jg-Zc.aj5,
.Lo .vo>button,
.Yo .z-b-G,
.aeS,
.am6,
.azg,
.hx .h7 .Bk .G2,
.hx .h7 .ac5 .gB,
.hx .h7 .acO,
.hx .ie .xu .iq,
.hx .kv .Bk .G2,
.hx .ky .Bk .G2,
.vr .z-b-G,
body .azewN,
body.Ia .azewN,
td.Bu {
    border-color: #104551;
}

.gD {
    color: #72b824;
}

.Ar,
.L3,
.Lo .vo>button,
.Yo .z-b-G,
.aio,
.dI,
.hx,
.nr,
.vr .z-b-G {
    color: #dfe8ee;
}

.g6,
.go,
.hb,
.oL.aDm.az9,
.y2 {
    color: #586e75;
}

.hp {
    border-top: 1px dashed #104551;
}

.amn,
.yO {
    color: #a2b8ba;
}

.HM .aDj,
.HM .iN,
.aAT,
.aAU,
.aDh,
.aoI .I5 td,
.aoI .IG,
.nH {
    background-color: #002833;
}

.HM .aDj,
.HM .iN,
.aDh,
.aoI .I5 td,
.aoI .IG,
.xY {
    border-color: #002833;
}

.gU.Up .L3,
.z0 .L3 {
    background-color: #268bd2;
    border-color: #268bd2;
}

.Un { border: none; }

.ajR {
    background-color: #72b824;
    border-color: #72b824;
}

.ams:hover,
.aoP a,
.e,
.ii a[href],
.x2 {
    color: #3d92f8;
}

.aXw.T-KT:before {
    content: -webkit-image-set(url(//ssl.gstatic.com/ui/v1/star/star4.png) 1x,url(//ssl.gstatic.com/ui/v1/star/star4_2x.png) 2x);
}

.T-KT.xj:before {
    content: url(//ssl.gstatic.com/ui/v1/icons/mail/superstars/star_lit_blue3.png);
}

/* gmail search field */
.gb_fa .gbqfqw.gbqfqw,
.gb_X .gbqfqw.gbqfqw {
  background-color: #306571;
  border-color: #306571;
}

.gbqfif { color: #a2b8ba; }

.ZF-Av .lJ,
.ZF-Av .lN,
.ZF-z6,
.ZF-zT {
  background-color: #002833;
  border-color: #306571;
}

.ZG { color: #586e75; }

/* end of gmail search field */

.ha {
    color: #586e75;
}

.a3s.aXjCH {
    background-color: white;
}
