.Am.aO9.Al.editable.LW-avf, .aC2, .aC3, .aO7, .azX, .hx .h7 .Bk .G2, .hx .kv .Bk .G2, .hx .ky .Bk .G2, .vO, td.Bu {
    background-color: inherit;
}

.HM .aDj, .HM .iN, .xY {
    border-color: #1e2b30;
}

.J-KU-Jg.J-KU-Jg-Zc.aj5, .Lo .vo>button, .Yo .z-b-G, .aeS, .am6, .azg, .hx .h7 .Bk .G2, .hx .h7 .ac5 .gB, .hx .h7 .acO, .hx .ie .xu .iq, .hx .kv .Bk .G2, .hx .ky .Bk .G2, .vr .z-b-G, body .azewN, body.Ia .azewN, td.Bu {
    border-color: #364348;
}

.L3, .Lo .vo>button, .NQ, .T-I-ax7, .Yo .z-b-G, .l3:hover, .nu, .nu:hover, .t-i-ax7:hover, .vr .z-b-G {
    background-image: none;
}

.Lo .vo>button, .Yo .z-b-G, .vr .z-b-G, .zE {
    background-color: #364348;
}

.T-KT.xj:before {
    content: url(//ssl.gstatic.com/ui/v1/icons/mail/superstars/star_lit_blue3.png);
}

.Un {
    border: none;
}

.ZF-Av .lJ, .ZF-Av .lN, .ZF-z6, .ZF-zT {
    background-color: #1e2b30;
    border-color: #306571;
}

.ZG {
    color: #586e75;
}

.aAT, .aAU, .nH {
    background-color: #1e2b30;
}

.aXw.T-KT:before {
    content: -webkit-image-set(url(//ssl.gstatic.com/ui/v1/star/star4.png) 1x,url(//ssl.gstatic.com/ui/v1/star/star4_2x.png) 2x);
}

.amn, .yO {
    color: #a2b8ba;
}

.ams:hover, .aoP a, .e, .ii a[href], .x2 {
    color: #3d92f8;
}

.g6, .go, .hb, .oL.aDm.az9, .y2 {
    color: #586e75;
}

.gD {
    color: #72b824;
}

.gU.Up .L3, .z0 .L3 {
    background-color: #268bd2;
    border-color: #268bd2;
}

.gb_Za.gb_Xa {
    height: 45px;
}

.gb_fa .gbqfqw.gbqfqw, .gb_X .gbqfqw.gbqfqw {
    background-color: #306571;
    border-color: #306571;
}

.gbqfif {
    color: #a2b8ba;
}

.ha {
    color: #586e75;
}

.hp {
    border-top: 1px dashed #364348;
}

.nH .bAt .nH, .iY .Bu, .iY .Bk > * {
    background-color: #eaeaea;
}

.yO {
    background-color: #28353a;
}

/* gmail search field */

/* end of gmail search field */

.Cd9hpd .snByac, .MmhHI.N4XV7d, .rSoRzd, .NI2kfb, .uQ1ixe .snByac, .Ox3r3c, .MSZkRb .r4nke, .iMprOe, .GXlaye .snByac, .gb_ja svg, .gb_cc svg, .gb_Dc .gb_Kd, .gb_oc .gb_Kd {
    color: #839495;
}

.EfQccc.YkxAAf::after {
    border: none;
}

.J2aUD.T8M5bd .sx5BGe::before, .SGFqbe.T8M5bd .sx5BGe::before, .hEtGGf::after, .J2aUD.T8M5bd .qmFsL::after, .SGFqbe.T8M5bd .qmFsL::after {
    background-image: none;
}

.LKeQwe {
    background-color: #233035;
    border-color: #1e2b30;
    border-radius: 5px;
}

.RNpyie[jscontroller='ABQtfe'] {
    background-color: #1e2b30;
}

.W0m3G .r4nke, .W0m3G::before {
    background-color: #2e3b40;
}

.YkxAAf.BS4SQb[jscontroller='ABQtfe'] {
    background-color: #1e2b30;
    border: 0;
}

.YvjgZe {
    padding-left: 2px;
    padding-right: 2px;
}

.YvjgZe.Qbfsob, .YvjgZe, .MVMVEe, .j0nwNb .eh5oYe .eADW5d, .j0nwNb .eh5oYe .yEkOpe, .qmFsL::-webkit-scrollbar-thumb, div.gboEAb, body[data-viewfamily=EVENT] .SGWAac, body[data-viewfamily=SCHEDULE] .SGWAac, body[data-viewfamily=SEARCH] .SGWAac, body[data-viewfamily=SETTINGS] .SGWAac, body[data-viewfamily=TRASH] .SGWAac, .J2aUD *, .CIFHgc, .GXlaye.qRI4pc, .Cd9hpd, .EfQccc.Hrn1mc.EiZ8Dd::after, .C5Jlgc, .mmsF1c::after {
    border-color: #2e3b40;
}

.eADW5d {
    background-color: #1e2b30;
}

.eADW5d .NWI43 {
    color: white;
}

.hnGhZ::-webkit-scrollbar-thumb {
    border-color: #4e5b60;
}

::-webkit-scrollbar {
    padding: 0;
    width: 8px;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
  
  unicode-range: U +1F00-1FFF;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
  
  unicode-range: U +0370 -03FF;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
  
  unicode-range: U +0102 -0103 U +0110 -0111 U +1EA0-1EF9 U +20AB;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  
  unicode-range: U +0100 -024F U +0259 U +1E00-1EFF U +2020 U +20A0-20AB U +20AD-20CF U +2113 U +2C60-2C7F U + A720-A7FF;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  
  unicode-range: U +0000 -00FF U +0131 U +0152 -0153 U +02BB-02BC U +02C6 U +02DA U +02DC U +2000 -206F U +2074 U +20AC U +2122 U +2191 U +2193 U +2212 U +2215 U + FEFF U + FFFD;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');
  
  unicode-range: U +0460 -052F U +1C80-1C88 U +20B4 U +2DE0-2DFF U + A640-A69F U + FE2E-FE2F;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');
  
  unicode-range: U +0400 -045F U +0490 -0491 U +04B0-04B1 U +2116;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');
  
  unicode-range: U +1F00-1FFF;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');
  
  unicode-range: U +0370 -03FF;
}

@font-face {
  
  font-family: 'Product Sans';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans-Regular'), url(https://fonts.gstatic.com/s/productsans/v10/pxiDypQkot1TnFhsFMOfGShVFNeOYktMqlap.woff2) format('woff2');
  
  unicode-range: U +0370 -03FF;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');
  
  unicode-range: U +0102 -0103 U +0110 -0111 U +1EA0-1EF9 U +20AB;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
  
  unicode-range: U +0100 -024F U +0259 U +1E00-1EFF U +2020 U +20A0-20AB U +20AD-20CF U +2113 U +2C60-2C7F U + A720-A7FF;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  
  unicode-range: U +0000 -00FF U +0131 U +0152 -0153 U +02BB-02BC U +02C6 U +02DA U +02DC U +2000 -206F U +2074 U +20AC U +2122 U +2191 U +2193 U +2212 U +2215 U + FEFF U + FFFD;
}

@font-face {
  
  font-family: 'Product Sans';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans-Regular'), url(https://fonts.gstatic.com/s/productsans/v10/pxiDypQkot1TnFhsFMOfGShVGdeOYktMqlap.woff2) format('woff2');
  
  unicode-range: U +0100 -024F U +0259 U +1E00-1EFF U +2020 U +20A0-20AB U +20AD-20CF U +2113 U +2C60-2C7F U + A720-A7FF;
}

@font-face {
  
  font-family: 'Product Sans';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans-Regular'), url(https://fonts.gstatic.com/s/productsans/v10/pxiDypQkot1TnFhsFMOfGShVF9eOYktMqg.woff2) format('woff2');
  
  unicode-range: U +0000 -00FF U +0131 U +0152 -0153 U +02BB-02BC U +02C6 U +02DA U +02DC U +2000 -206F U +2074 U +20AC U +2122 U +2191 U +2193 U +2212 U +2215 U + FEFF U + FFFD;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  
  unicode-range: U +0460 -052F U +1C80-1C88 U +20B4 U +2DE0-2DFF U + A640-A69F U + FE2E-FE2F;
}

@font-face {
  
  font-family: 'Product Sans';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans-Regular'), url(https://fonts.gstatic.com/s/productsans/v10/pxiDypQkot1TnFhsFMOfGShVE9eOYktMqlap.woff2) format('woff2');
  
  unicode-range: U +0400 -045F U +0490 -0491 U +04B0-04B1 U +2116;
}

@font-face {
  
  font-family: 'Roboto';
  
  font-style: normal;
  
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
  
  unicode-range: U +0400 -045F U +0490 -0491 U +04B0-04B1 U +2116;
}

body, .KKOvEb header, .v83gc, .Kk7lMc-DWWcKd-OomVLb-haAclf, .GENA3c, .Gk2izd {
    background-color: #1e2b30;
    color: #839495;
}

/* scrollbar */

.JtukPc {
    background-color: #1e2b30;
    border-color: #0e1b20;
    border: 1px solid #0e1b20;
}

