:root {
  color-scheme: dark;
  --bold-border: #0e1b20;
  --border: #465358;
  --black: #263338;
  --bold-black: #1e2b30;
  --black-cyan: #264348;
  --blue: #268ad2;
  --light-blue: #46aaf2;
  --dark-blue: #293e47;
  --bold-blue: #839495;
  --cyan: #2aa197;
  --bold-cyan: #93a0a1;
  --gray-dark: #263338;
  --gray: #465358;
  --green: #859901;
  --bold-green: #586d74;
  --bold-magenta: #8c8ee6;
  --indigo: #6c6ec6;
  --magenta: #d33582;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --purple: #8c8ee6;
  --light-purple: #caccef;
  --red: #dc312e;
  --red-pink: #dc3545;
  --bold-red: #cb4a16;
  --teal: #20c997;
  --white: #eee8d5;
  --bold-white: #fdf6e3;
  --bold-yellow: #657b82;
  --yellow: #b58900;
  --primary: #268ad2;
  --secondary: #93a0a1;
  --success: #859901;
  --info: #2aa197;
  --warning: #b58900;
  --danger: #dc312e;
  --dark: #1e2b30;
  --darker: #0e1b20;
  --light: #eaecef;
}

body {
  background-color: var(--bold-black);
}
input {
  background-color: var(--black);
  border: 1px solid var(--border);
  border-radius: 2px;
  padding: 4px;
}

#route_table tbody tr:nth-child(odd) {
  background: var(--black);
}
#route_table tbody tr:hover {
  background-color: var(--border);
}

#route_table tbody tr, #route_table thead tr, .details, .summary {
  border-color: var(--border);
}
#route_table #search_container {
  padding: 5px 30px;
}

h2, p {
  padding-left: 10px;
}

p {
  margin-block-start: .1em;
  margin-block-end: .1em;
}
h2, a {
  color: var(--red);
}

header {
  background-color: var(--red);
}
#route_table {
  max-width: 2000px;
}
.console, .console .resizer {
  background-color: var(--bold-border);
}
.console .console-inner, .console .console-prompt-display, .console .console-prompt-label {
  background-color: var(--bold-black);
}
