#stylebot-container * {
    border-color: #0e1b20;
    box-shadow: none;
    outline: none;
    text-shadow: none;
}

#stylebot-container .ace-dawn .ace_comment {
    color: #586d74;
}

#stylebot-container .ace-dawn .ace_constant {
    color: #2aa197;
}

#stylebot-container .ace-dawn .ace_string {
    color: #cb4a16;
}

#stylebot-container .ace-dawn .ace_support {
    color: #b58900;
}

#stylebot-container .ace_editor {
    border-color: #0e1b20;
}

#stylebot-container .ace_line, #stylebot-container .ace_variable, #stylebot-container .ace_keyword {
    color: #08f;
}

#stylebot-container .stylebot-accordion, #stylebot-controls, #stylebot, #stylebot-header {
    background-color: #2e3b40;
    background-image: none;
}

#stylebot-container .stylebot-control-set {
    margin: 2px 0;
}

#stylebot-container .stylebot-label, #stylebot-header * {
    color: #62787a;
}

#stylebot-container input[type="text"].stylebot-textfield, .stylebot-colorselector {
    background-color: #1e2b30;
    color: #62787a;
}

#stylebot-margin-left, #stylebot-padding-left, #stylebot-border-left-width {
    left: 9px;
}

#stylebot-margin-right, #stylebot-padding-right, #stylebot-border-right-width {
    left: 55px;
}

#stylebot-margin-top, #stylebot-margin-right, #stylebot-margin-left, #stylebot-margin-bottom, #stylebot-margin, #stylebot-padding-top, #stylebot-padding-right, #stylebot-padding-left, #stylebot-padding-bottom, #stylebot-padding, #stylebot-border-top-width, #stylebot-border-right-width, #stylebot-border-left-width, #stylebot-border-bottom-width, #stylebot-border-width {
    margin-left: 0;
    min-width: 15px;
}

#stylebot-modal {
    background-color: #2e3b40;
    border: none;
    color: #a2b8ba;
}

.CodeMirror-line, .CodeMirror-line>span, .CodeMirror-line>span>span {
    color: #dc312e;
    /* red */
}

.ace-dawn .ace_scroller {
    background-color: #1e2b30;
}

.cm-s-okaidia .CodeMirror-linenumber {
    color: #6c6ec6;
    /* purple */
}

.cm-s-okaidia span.cm-atom, .cm-s-okaidia span.cm-number {
    color: #268ad2;
    /* blue */
}

.cm-s-okaidia span.cm-comment {
    color: #586d74;
    /* gray */
}

.cm-s-okaidia span.cm-property {
    color: #859901;
    /* green */
}

.cm-s-okaidia span.cm-string {
    color: #2aa197;
    /* cyan */
}

.cm-s-okaidia span.cm-variable, .cm-s-okaidia span.cm-variable-2 {
    color: #b58900;
    /* yellow */
}

.cm-s-okaidia.CodeMirror {
    background-color: #1e2b30;
}

.stylebot-selectize-control.single .stylebot-selectize-input, .stylebot-selectize-dropdown, .stylebot-selectize-dropdown:before, .stylebot-selectize-control.focus {
    background-color: #1e2b30;
    background-image: none;
    color: #dfe8ee;
}

.stylebot-selectize-dropdown .active {
    background-color: #1e2b30;
}

a.stylebot-accordion-active, a.stylebot-accordion-active:hover {
    background: -webkit-gradient(linear, 0% 0%, 50% 100%, from(#1e2b30), to(#2e3b40));
    color: #62787a;
}

a.stylebot-accordion-header, a.stylebot-accordion-header:hover {
    background: none;
    color: #62787a;
}

button.stylebot-button, button.stylebot-button:hover {
    background-color: #1e2b30;
    background-image: none;
    color: #a2b8ba;
}

button.stylebot-button-selected, button.stylebot-button-selected:hover, button.stylebot-button-selected:hover:not(:disabled) {
    background-color: #08f;
    background-image: none;
    color: #dfe8ee;
}

/* css mode */

html {
    background-color: #1E2B30;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2E3B40;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
}

