body, nav, .main-nav, .header, .input-background[_ngcontent-mpl-c36], .input-background[_ngcontent-uti-c26], [_nghost-uti-c29], .main-nav-header, .input-background, .floating-button {
    background: #1E2B30;
    color: #93A0A1;
}

.header {
    border-bottom: 1px solid #263338;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.main-nav {
    border-color: #263338;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.floating-button {
    box-shadow: none;
}

.send-button {
    background-color: #263338;
    color: #268AD2;
    border: 1px solid #364348;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.send-button[disabled] {
    box-shadow: none;
    color: #586D74;
}

.list-item.selected {
    background: #0E1B20;
}

.input-background {
    border-top: 1px solid #263338;
    box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.25);
}

.list-item:hover, textarea, input, .input-box, .input-row {
    background: #263338;
    color: #93A0A1;
}

.name {
    color: #EEE8D5;
}

.logo-link {
    color: #268AD2;
}

.snippet-text, .list-item-info, .msg-info, .tombstone-msg-container {
    color: #586D74;
}

.picker-icon {
    fill: #586D74;
}

.container {
    background: #1E2B30;
}

.incoming .text-msg-content {
    background: #1B282D;
    color: #6C6EC6;
}

.outgoing .text-msg-content {
    background: #1B282D;
    color: #859901;
}

.text-msg-content {
    padding: 2px 0;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.15);
}

.content .mat-icon-button {
    height: 20px;
    line-height: 0;
}

.msg-row {
    max-width: 800px;
}

